<section class="about__page">
    <h1>Rick and Morty GraphQL App</h1>
    <div class="about__container">
        <p class="about__paragraph">
            Aplicacion hecha en Angular 11 y la API de Rick and Morty 
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur reiciendis dolorum ea porro consequatur incidunt commodi, fuga, error ab sapiente praesentium earum illum aperiam ut, quo ipsa voluptates nesciunt itaque.
            Quas, totam dolor, a possimus fugiat repellat facere accusantium natus voluptate, ab laudantium dolorum voluptatum? Cupiditate esse nostrum qui nobis? Perferendis omnis aspernatur aut deserunt excepturi numquam asperiores magnam quibusdam!
        </p>
            <figure class="about__img">
                <img src="/assets/imgs/web_dev.svg" alt="Web Dev Img" class="about__pictures" rel="preload" as="image" width="406" height="306">
            </figure>
    </div>
</section>